#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}
.card {
  /* Notícia 01 */

width: 608px;
height: 416px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;

}